doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href=("/assets/styles.css"))
    body 
        div.menu 
            div.menu__top TOP
            div.menu__down DOWN
                a(href="https://www.naver.com") NAVER
                a(href="https://www.google.com") GOOGLE
        div.menu2
            div.menu__left LEFT
            div.menu__right RIGHT